<nav class="bg-grey-light p-3">
  <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
    <label class="mr-4">
      {{input type="checkbox" checked=liveChange}} Live change
    </label>
    <button class={{buttonState}} onclick={{action "updatePreview"}}>Save</button>
  </div>
</nav>

<div class="flex">
  {{textarea class="flex-1 m-4 h-screen" value=writtenText}}

  <div class="flex-1 bg-grey-lighter h-screen">
    <div class="m-4 whitespace-pre-line">
      {{markdown-to-html preview}}
    </div>
  </div>
</div>
